h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span #[strong 290601234-3.] Desarrollar los productos cumpliendo con la normatividad vigente y requerimientos técnicos.



