.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white        
        p
            strong.mr-2 Ficha técnica:             
            | documento que contiene la información necesaria para la fabricación de un producto, los datos que allí se consignan deben estar detallados rigurosamente por procesos y procedimientos.
        hr        
        p
            strong.mr-2 Calidad:             
            | es el grado en que un producto cumple con el propósito para el cual ha sido diseñado, satisfaciendo las necesidades del cliente.
        hr
        p
            strong.mr-2 Cerrar - unir:             
            | juntar dos o más piezas a través de una costura.
        hr
        p
            strong.mr-2 Corte:             
            | es la separación de una tela en piezas, mediante el uso de tijeras o de cortadora eléctrica, las cuales conforman en su conjunto una prenda de vestir (Palacios, 2011).
        hr
        p
            strong.mr-2 Coser:             
            | unir piezas previamente cortadas mediante puntadas, tiene como finalidad unir, despuntar o decorar una, dos o tres capas de tela utilizando máquinas específicas para cada operación.
        hr
        p
            strong.mr-2 Confección:             
            | es el arte de unir las piezas de tela previamente cortadas, mediante costuras. Dentro de la confección en serie se tienen máquinas especiales para cada operación (Palacios, 2011).
        hr
        p
            strong.mr-2 Ensamble:             
            | unión de distintas piezas para que adquieran una forma determinada.
        hr
        p
            strong.mr-2 Extendido:             
            | estirar una o varias piezas de tejido sobre una mesa de dimensiones adecuadas (Pérez y Giraldo, 1990).
        hr
        p
            strong.mr-2 Norma técnica:             
            | es un documento aprobado por un organismo reconocido que establece especificaciones técnicas basadas en los resultados de la experiencia y del desarrollo tecnológico, que hay que cumplir en determinados productos, procesos o servicios (Biblioteca Universidad Alcalá, 2020).
        hr
        p
            strong.mr-2 Trazo:             
            | delinear gráficamente en un papel mediante el uso correcto de las reglas las plantillas de una prenda que se quiera elaborar (Palacios, 2011).
        hr