.container#page-introduccion

    .header-ecored
        h1 1. Trazo, extendido y corte


    .jumbotron.bg-white    

      .row.justify-content-center.align-items-center
        .col-12.col-lg-10
          .header-arrow
            h3.text-center Las empresas de confección se destacan por tener procesos productivos para elaborar prendas de vestir, algunos de estos procesos se conocen como:  

      .row.justify-content-center.align-items-center.mt-5
        .col.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema1/info_01.svg", alt="").img-fluid

      .row.justify-content-center.align-items-center.my-3
        .col-12
          p En el proceso de confección, la técnica del trazo requiere realizarse con mucha atención y precisión, lo cual permite evitar el desperdicio de tela y lograr el mayor aprovechamiento de la materia prima. En esta etapa se distribuyen los patrones que componen un modelo sobre una extensión de papel o tela.

      .row
        .col-12
          .header-ecored.mt-0
            h2 Trazo, extendido y corte de la bata hospitalaria

      .row.my-3
        .col-12
          p La técnica de ubicar y trasladar los moldes de la bata hospitalaria sobre un papel es conocida como trazo, para ello es necesario tomar las piezas de la prenda y dibujarlas de forma ordenada sobre el papel, luego estos patrones se sobreponen de la manera más eficiente en la tela extendida y posterior se utilizan en el proceso de corte para separar todas las piezas trazadas.

      .row
        .col
          .card
            .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/54aPyclvF8w', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')



      .row
        .col-12
          .header-ecored.mt-0      
            h2 Trazo extendido y corte del overol hospitalario

      .row.my-3
        .col-12
          p La técnica de ubicar y trasladar los moldes del overol hospitalario sobre un papel es conocida como trazo, para ello es necesario tomar las piezas de la prenda y dibujarlas de forma ordenada sobre el papel, luego estos patrones se sobreponen de la manera más eficiente en la tela extendida y posterior se utilizan en el proceso de corte para separar todas las piezas trazadas.
      
      .row
        .col
          .card
            .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/M_c-F66Qj6I', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')