.container#page-introduccion

    .header-ecored
        h1 3. Proceso de confección

    .jumbotron.bg-white  

      .row
        .col-12
          .header-ecored.mt-0    
            h2 3.1 Proceso de confección de la bata hospitalaria 
      
      .row
        .col-12
          p En el proceso de confección de la #[strong bata hospitalaria] se unen las piezas que han sido cortadas, para ello se utilizan algunas máquinas como la plana de una aguja y la fileteadora, también es de gran importancia el trabajo manual ya que permite el marcado de algunas piezas para su posterior ensamble; todo esto se debe soportar con el cumplimiento de la ficha técnica de cada producto y con la aplicación de buenas prácticas de manufactura.
               
      .row
        .col
          .card
            .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/yAHOpxvQ79w', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
            .card-body.mt-0
                strong Batas 

      .row
        .col-12
          .header-ecored.mt-0    
            h2 3.2 Proceso de confección del overol hospitalario   
      
      .row
        .col-12
          p En el proceso de confección del #[strong overol hospitalario] se unen las piezas que han sido cortadas, para ello se utilizan algunas máquinas como la plana de una aguja y la fileteadora, también es de gran importancia el trabajo manual ya que permite el marcado de algunas piezas para su posterior ensamble; todo esto se debe soportar con el cumplimiento de la ficha técnica de cada producto y con la aplicación de buenas prácticas de manufactura.
               
      .row
        .col
          .card
            .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/ZtiMaD7SRiA', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

