.container#page-introduccion

    .header-ecored
        h1 2. Ficha técnica

    .jumbotron.bg-white  
      .jumbotron.mb-5
        .row.justify-content-center.align-items-center        
          .col-auto.my-5.mb-my-0
            img(src="assets/images/pages/tema2/icon_01.svg", style="width: 250px").img-fluid.mb-3.mb-md-0
          .col-12.col-md
            p.mb-0 La ficha técnica es un documento diseñado para consolidar la información que permite realizar un producto como la bata hospitalaria, contiene las especificaciones técnicas de cada proceso, en la ficha de diseño, se detallan características como imagen o fotografías de la prenda terminada, la ficha de patronaje  especifica la cantidad de piezas, plantillas y medidas del producto, la ficha de insumos y producción contiene la información de materiales e insumos requeridos y la ruta de las operaciones que se realizan en confección y  la ficha de calidad especifica los criterios de calidad, recomendaciones  para la terminación y el empaque del producto.

      .row
        .col-12
          p Generalmente, la ficha técnica no tiene una estructura rígida, se adecúa de acuerdo con los intereses y necesidades de las empresas y sus procesos, siendo uno de los documentos más importantes que se emplean en la confección; por ello, es necesario establecer cuidadosamente qué información se incluye en ella y la forma en que dicha información se presenta, con la intención de facilitar su lectura e interpretación.

          p A continuación, encontrará la ficha técnica para cada una de las prendas de dotación hospitalaria (batas y overoles). Se elabora una ficha técnica por producto,  la cual contiene las especificaciones técnicas de cada uno de los procesos: en la ficha de diseño se detallan características con imágenes o fotografías de la prenda terminada; la ficha de patronaje  especifica la cantidad de piezas, plantillas y medidas del producto; la ficha de insumos y producción contiene la información de materiales e insumos requeridos y la ruta de las operaciones que se realizan en confección, y  la ficha de calidad especifica los criterios de calidad, recomendaciones  para la terminación y el empaque del producto. 

      .row.justify-content-center.align-items-center
        .col-auto.col-lg-3.my-4 
          a(href="media/documentos/anexos/(anexo_06)_ficha_tecnica_de_la_bata_hospitalaria.pdf" target="_blank")        
            img(src="assets/images/pages/tema2/info_01.svg", alt="" style="max-width: 225px; width:100%;").img-fluid 
        .col-auto.col-lg-3.my-4 
          a(href="media/documentos/anexos/(anexo_08)_ficha_tecnica_del_overol_hospitalario.pdf" target="_blank")    
            img(src="assets/images/pages/tema2/info_02.svg", alt="" style="max-width: 225px; width:100%;").img-fluid 


